#area-tag-list {
    width: auto !important;
}

#room-card-list {
    justify-content: center !important;
}

.Item_card-item_vf59q {
    height: 190px !important;
}

.tab__bar-wrap{
    padding:0px 100px !important;
}