/*调整直播分区房间列表中的选项卡屏蔽按钮在选项卡的位置*/
#room-card-list > div {
    display: flex;
    flex-direction: column;
}

#room-card-list > div button {
    margin-top: 15px;
}

/*直播首页列表项屏蔽按钮样式*/
.gz-live-home-room-card-list-item {
    z-index: 10;
    width: 100%;
    position: relative;
    top: 20px;

}

#area-tag-list {
    width: auto !important;
}

#room-card-list {
    justify-content: center !important;
}

.Item_card-item_vf59q {
    height: 190px !important;
}
